@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Home" asp-action="Index"
                   title="Welcome">Welcome @User.Identity.Name!</a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Logout", "Account")" role="button"><i class="fa fa-sign-in" aria-hidden="true"></i> Đăng Xuat</a>
            </li>
        }
        else
        {
            <li>
                <a href="@Url.Action("Login", "Account")" role="button"><i class="fa fa-sign-in" aria-hidden="true"></i> Đăng Nhập</a>
            </li>
            <li>
                <a href="@Url.Action("Register", "Account")" role="button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Đăng Ký</a>
            </li>
        }
    </ul>

